.header {
    height: 64px;
    background: linear-gradient(to right, #005CA9, #54BBAB);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.logo-img {
  height: 20px;
  width: auto;
  margin-left: 4rem;
}