<div class="m-3">
  <h2>Vizualizar Extrato</h2>
  <button class="btn btn-laranja my-3" (click)="redirectToCreate()">
    Adicionar Transação
  </button>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Buscar transações</mat-label>
      <input matInput [(ngModel)]="search" aria-label="Buscar transações" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="ordenacao mb-3">
    <span class="text-xsm">Ordenar por: </span><br>
    <button class="btn btn-azul btn-small mr-5" (click)="sortField='amount'; sortAsc=!sortAsc">Valor</button>
    <button class="btn btn-azul btn-small mr-5" (click)="sortField='type'; sortAsc=!sortAsc">Tipo</button>
    <button class="btn btn-azul btn-small mr-5" (click)="sortField='date'; sortAsc=!sortAsc">Data</button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Tipo</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (item of filterTransactions(); track $index) {
        <tr>
          <td>{{ item.date | date: "dd/MM/yyyy" }}</td>
          <td>{{ item.description }}</td>
          <td [ngClass]="item.amount | negativeValues">
            {{ item.amount | currency: "BRL" : "symbol" : "1.2-2" : "pt-BR" }}
          </td>
          <td>
            @if (item.type === transactionTypesEnum.INCOME) {
              Entrada
            } @else if (item.type === transactionTypesEnum.EXPENSE) {
              Saída
            } @else {
              Transferência
            }
          </td>
          <td>
            <button *ngIf="item.type != transactionTypesEnum.TRANSFER"
              class="btn btn-icon btn-branco mr-2"
              (click)="onEdit(item.id)">
              <mat-icon>edit</mat-icon>
            </button >
            <button *ngIf="item.type != transactionTypesEnum.TRANSFER"
              class="btn btn-icon btn-vermelho"
              (click)="onDelete(item.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
