<div class="flex flex-column">
  <div class="p-3">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title 
        *ngIf="account"
        [class]="account.balance | negativeValues">
          {{ account.balance | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- <p>Cliente: {{ account?.name }}</p> -->
        <p class="text-xsm">Saldo atual</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="flex m-3">

      <div class="p-1 w-50">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title 
            *ngIf="account"
            class="text-success text-xsm">
              <span class="text-md">{{ totalIncome | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="text-xsm text-success">Receitas (mês)</p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="p-1 w-50">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title 
            *ngIf="account"
            class="text-danger">
              <span class="text-md">-{{ totalExpense | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="text-xsm text-danger">Despesas (mês)</p>
          </mat-card-content>
        </mat-card>
      </div>
  </div>

</div>

<div class="px-3 pt-3">
  <mat-form-field appearance="outline">
    <mat-label>Buscar</mat-label>
    <input matInput [(ngModel)]="search" />
  </mat-form-field>
</div>

<div class="text-azul-fechado text-lg text-bold pl-5 pb-3">
  Últimas transações - {{ currentMonthLabel }}
</div>

<div class="ordenacao mb-3 pl-5">
  <span class="text-xsm">Ordenar por: </span><br>
  <button class="btn btn-laranja btn-small mr-5" (click)="sortField='amount'; sortAsc=!sortAsc">Valor</button>
  <button class="btn btn-laranja btn-small mr-5" (click)="sortField='type'; sortAsc=!sortAsc">Tipo</button>
  <button class="btn btn-laranja btn-small mr-5" (click)="sortField='date'; sortAsc=!sortAsc">Data</button>
</div>

<div class="p-3">
  <div class="row">
    @for (item of filterTransactions(); track $index) {
      <div class="col-4 mb-3">
        <mat-card class="transacoes-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title class="text-azul-fechado text-md">
              {{ item.description }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="text-xsm">
            <p>
              Valor:
              <span [class]="item.amount | negativeValues">
                {{ item.amount | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
              </span>
            </p>
            <p>
              Tipo:
              @if (item.type === transactionTypesEnum.INCOME) {
                Entrada
              } @else if (item.type === transactionTypesEnum.EXPENSE) {
                Saída
              } @else {
                Transferência
              }
            </p>
            <p>
              Data: {{ item.date | date:'dd/MM/yyyy' }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    }
  </div>
</div>